<mat-toolbar class="main-toolbar">
  <span routerLink="/" class="main-title">OneVibe</span>
  <span class="spacer"></span>

  <ng-container *ngIf="!authService.isLoggedIn()">
    <button mat-button routerLink="/auth/login">Login</button>
    <button mat-button routerLink="/auth/register">Register</button>
  </ng-container>

  <ng-container *ngIf="authService.isLoggedIn()">
    <button mat-button (click)="logout()">Logout</button>
    <button mat-icon-button routerLink="/cart">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </ng-container>
</mat-toolbar>

<router-outlet></router-outlet>